<div style="display:table; width: 100%">
<div style="width:50%; display: table-cell;">
    <h3>Add a New Game to your Collection</h3>
    <form class="navbar-form navbar-left" role="search" style="float:left;">
      <div class="form-group">
            <table>
                <tbody>
                    <tr>
                        <td>Game Title : </td>
                        <td><input type="text" class="form-control" placeholder="Enter Game title"></td>
                    </tr>
                    <tr>
                        <td>Game Publisher : </td>
                        <td>
                            <select name="pub-list">
                               <option value="">Select a Publisher</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Game Release : </td>
                        <td>
                            <div class="input-append date" style="position: relative;">
                                <input type="text" id="game-release-datepicker" data-provide='datepicker'/>
                                <span class="add-on"><i class="icon-th"></i></span>
                                <input type="hidden" id="game-release-date"/>
                                <div id="game-release-datepicker-ballon" style="position: absolute;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Purchase Date : </td>
                        <td>
                            <div class="input-append date" style="position: relative;">
                                <input type="text" id="purchase-datepicker" data-provide='datepicker'/>
                                <span class="add-on"><i class="icon-th"></i></span>
                                <input type="hidden" id="purchase-date"/>
                                <div id="purchase-datepicker-ballon" style="position: absolute;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Game Condition : </td>
                        <td>
                            <select name="game-condition">
                               <option value="">Select a Game Condition</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Completeness : </td>
                        <td>
                            <select name="game-completeness">
                               <option value="">Select a Game Completeness</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Bonus : </td>
                        <td>
                            <select name="game-bonus">
                               <option value="">Select a Game Bonus</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Sell : </td>
                        <td>
                            <select name="game-sell">
                               <option value="">What's next ?</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="#" class="btn btn-primary" id="add-game" style="margin-top: 10px;">Add Game</a>
                        </td>
                    </tr>
                </tbody>
            </table>  
      </div>
    </form>
</div>
<div style="width:50%; display: table-cell;">
    <h3>Status</h3>
    <form class="navbar-form navbar-left" role="search" style="float:right;">
        <textarea id="status-log" rows="20" cols="1000" style="width:100%;"></textarea>
    </form>
</div>
</div>

<script src="assets/date_picker.js"></script>